.bgimg{
    background-image: url(../Project\ 2/images/jaisalmer.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 950px;
}

.headerset{
    padding: 300px;
    box-sizing: border-box;
    margin-top: 300px;
}

.headerset h1{
    font-size: 70px;
    font-weight: bolder;
    font-family: cursive;
    transition: 0.7s ease;
}
.headerset h6{
    font-size: 24px;
    padding: 20px;
    transition: 0.7s ease;
}

.headerset h1:hover{
    font-size: 74px;
    color: darkgrey;
}
.headerset h6:hover{
    font-size: 28px;
    color: darkgrey;
}

@media only screen and (max-width: 800px){
  
.headerset h1{ font-size: 50px;
               font-weight: bold;
               font-family: cursive;
               transition: 0.5s ease;}

               
           .headerset{
               padding: 300px;
               box-sizing: border-box;
               margin-top: 100px;}
}
.posts{
    color: rgb(0, 0, 0);
    margin-top: 330px;
    font-size: 56px;
    margin-bottom: 25px;
}

.posts h1:hover{
    font-size: 60px;
    transition: 1s ease-in-out;
}
